/* Root */
root {
    --vh: calc(100vh - 1px);
    --vw: calc(100vw - 1px);
}

/* ------------------------------------------- */
/* Global default */
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: #000;
    color: #edf2f4;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

.button {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5vh;
    border: 2px solid;
    padding: 1rem;
    border-radius: 1px;
    transition: transform .2s ease-in-out, background .2s ease-in-out;
    z-index: 10;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: rgba(255, 255, 255, .2);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

/* ------------------------------------------- */