section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #000;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 30vw;
    max-height: 30vh;
}

em {
    color: #ffb703;
}

p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    img {
        max-width: 40vw;
        max-height: 40vh;
    }

    p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    img {
        max-width: 90vw;
        max-height: 90vh;
    }

    p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 340px) {
    h1 {
        font-size: 2rem;
    }

    img {
        max-width: 95vw;
        max-height: 95vh;
    }

    p {
        font-size: 1rem;
    }
}