#nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    padding-left: 100px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sessions {
    width: 100vw;
    min-height: 100vh;
}

#carousel-container {
    width: 100%;
    box-sizing: border-box;

    /* Scroll snap 100vh */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.carousel-item {

    width: 100vw;
    height: 100vh;

    /* Scroll snap 100vh */
    scroll-snap-align: start;


    display: grid;
    grid-template-areas:
        "title title title"
        "img . desc"
        "img . desc";


}

.carousel-item-img {
    grid-area: img;
    width: clamp(300px, 50vw, 600px);
    height: clamp(300px, 50vw, 600px);
    object-fit: contain;
}

.carousel-item-title {
    grid-area: title;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.carousel-item-description {
    width: 90%;
    grid-area: desc;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}