section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.sub-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

#top {
    height: 100vh;
}

#main-title {
    width: 5ch;
    animation: typing 1s steps(5), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

#projects {
    height: auto;
    padding-bottom: 10vh;
}

#projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.project {
    width: clamp(100px, 20vw, 200px);
    height: clamp(100px, 20vw, 200px);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: all .2s ease-in-out;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.project-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 10px;
}

.project-content::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.project-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.project-description {
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

#gallery {
    height: auto;
    padding-bottom: 40vh;
}

#gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.gallery-item {
    /* Keep aspect ratio, max-width at 30%, max-height at 30% */
    width: 20%;
    position: relative;

    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media screen and (max-width: 768px) {
    .project {
        width: clamp(100px, 40vw, 200px);
        height: clamp(100px, 40vw, 200px);
    }

    .section-title {
        font-size: 3rem;
    }

    .sub-title {
        font-size: 2rem;
    }

    .gallery-item {
        width: 40%;
    }

    #gallery {
        margin-top: 10vh;
    }

}

@media screen and (max-width: 480px) {

    .gallery-item {
        width: 90%;
    }

    .project-title {
        font-size: 1rem;
    }

    .project-description {
        font-size: .7rem;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .project {
        width: 80vw;
        height: 80vw;
    }
    
}


/* ------------------------------------------- */

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}