section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #000;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
}

p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

#countdown {
    color: #ffb703;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}